# Імпорт модулів

In [1]:
import numpy as np
import pandas as pd
import requests

# Зчитуємо таблиці і шукаєио необхідну

In [2]:
url = 'https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%B6%D1%83%D0%B2%D0%B0%D0%BD%D1%96%D1%81%D1%82%D1%8C_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96'  
tables = pd.read_html(url)

In [3]:
df = tables[20]

## 1. Вивести перші рядки таблиці за допомогою методу head

In [5]:
df.head()

,регіон,1950,1960,1970,1990,1992,1994,1996,2000,2004,2008,2012,2014
0,Автономна Республіка Крим,230.0,206.0,160.0,130,109,93,80,73,90,119,126,NaN
1,Вінницька область,224.0,192.0,142.0,124,119,107,103,84,90,108,112,109.0
2,Волинська область,247.0,250.0,179.0,153,150,137,125,112,119,148,148,141.0
3,Дніпропетровська область,204.0,204.0,151.0,123,106,92,80,71,89,110,112,111.0
4,Донецька область,271.0,214.0,140.0,109,94,82,70,61,76,98,98,82.0

## 2. Визначте кількість рядків та стовпців у датафреймі

In [6]:
num_rows, num_columns = df.shape

print(f"Кількість рядків: {num_rows}")
print(f"Кількість стовбців: {num_columns}")

Кількість рядків: 28
Кількість стовбців: 13

## 3. Замініть у таблиці значення "—" на значення NaN

In [7]:
df.replace("—", np.nan, inplace=True)

## 4. Визначте типи всіх стовпців за допомогою `dataframe.dtypes`

In [8]:
df.dtypes

регіон     object
1950      float64
1960      float64
1970      float64
1990        int64
1992        int64
1994        int64
1996        int64
2000        int64
2004        int64
2008        int64
2012        int64
2014      float64
dtype: object

## 5. Замініть типи нечислових колонок на числові.

In [9]:
columns_to_convert = [col for col in df.columns if df[col].dtype == object]

In [10]:
for col in columns_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [14]:
df

,регіон,1950,1960,1970,1990,1992,1994,1996,2000,2004,2008,2012,2014
0,NaN,230.0,206.0,160.0,130,109,93,80,73,90,119,126,NaN
1,NaN,224.0,192.0,142.0,124,119,107,103,84,90,108,112,109.0
2,NaN,247.0,250.0,179.0,153,150,137,125,112,119,148,148,141.0
3,NaN,204.0,204.0,151.0,123,106,92,80,71,89,110,112,111.0
4,NaN,271.0,214.0,140.0,109,94,82,70,61,76,98,98,82.0
5,NaN,261.0,223.0,159.0,129,128,118,108,89,98,113,122,120.0
6,NaN,314.0,273.0,207.0,168,161,138,128,115,124,147,151,146.0
7,NaN,219.0,197.0,150.0,124,107,92,81,71,85,103,106,106.0
8,NaN,243.0,248.0,182.0,155,144,131,122,103,107,123,124,122.0
9,NaN,204.0,189.0,156.0,123,111,99,92,73,90,117,122,121.0
10,NaN,216.0,171.0,145.0,126,119,107,96,79,86,102,110,108.0
11,NaN,262.0,235.0,144.0,116,101,84,72,62,73,95,96,51.0
12,NaN,234.0,240.0,171.0,140,132,117,111,91,101,113,119,119.0
13,NaN,211.0,194.0,155.0,137,123,107,96,80,90,112,115,112.0
14,NaN,241.0,192.0,148.0,126,114,100,92,80,96,120,127,123.0
15,NaN,186.0,163.0,131.0,118,108,95,88,70,75,97,99,100.0
16,NaN,269.0,267.0,193.0,158,154,145,132,118,125,148,159,148.0
17,NaN,216.0,184.0,132.0,115,105,92,84,70,72,91,97,92.0
18,NaN,213.0,216.0,157.0,142,138,123,115,92,99,113,113,109.0
19,NaN,197.0,173.0,140.0,114,98,83,76,68,80,98,99,101.0
20,NaN,208.0,214.0,166.0,143,130,111,98,85,91,113,117,115.0
21,NaN,234.0,198.0,148.0,129,124,111,106,85,91,110,113,112.0
22,NaN,205.0,179.0,144.0,123,114,100,93,75,77,95,100,98.0
23,NaN,247.0,218.0,170.0,148,140,128,121,101,106,122,128,129.0
24,NaN,220.0,183.0,127.0,108,98,88,82,69,75,89,94,90.0
25,NaN,NaN,174.0,159.0,120,97,81,76,73,98,116,120,121.0
26,NaN,NaN,NaN,NaN,125,96,76,69,70,97,110,120,NaN
27,NaN,228.0,205.0,152.0,126,114,100,92,78,90,110,114,108.0

## 6. Порахуйте, яка частка пропусків міститься в кожній колонці

In [12]:
missing_percentage = (df.isnull().sum() / len(df)) * 100

In [13]:
missing_percentage

регіон    100.000000
1950        7.142857
1960        3.571429
1970        3.571429
1990        0.000000
1992        0.000000
1994        0.000000
1996        0.000000
2000        0.000000
2004        0.000000
2008        0.000000
2012        0.000000
2014        7.142857
dtype: float64

## 7. Видаліть з таблиці дані по всій країні, останній рядок таблиці

In [15]:
df.drop(df.index[-1], inplace=True)

In [16]:
df.tail()

,регіон,1950,1960,1970,1990,1992,1994,1996,2000,2004,2008,2012,2014
22,NaN,205.0,179.0,144.0,123,114,100,93,75,77,95,100,98.0
23,NaN,247.0,218.0,170.0,148,140,128,121,101,106,122,128,129.0
24,NaN,220.0,183.0,127.0,108,98,88,82,69,75,89,94,90.0
25,NaN,NaN,174.0,159.0,120,97,81,76,73,98,116,120,121.0
26,NaN,NaN,NaN,NaN,125,96,76,69,70,97,110,120,NaN

## 8. Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)

In [18]:
df.fillna(df.mean(), inplace=True)

In [19]:
df

,регіон,1950,1960,1970,1990,1992,1994,1996,2000,2004,2008,2012,2014
0,NaN,230.00,206.000000,160.0,130,109,93,80,73,90,119,126,111.44
1,NaN,224.00,192.000000,142.0,124,119,107,103,84,90,108,112,109.00
2,NaN,247.00,250.000000,179.0,153,150,137,125,112,119,148,148,141.00
3,NaN,204.00,204.000000,151.0,123,106,92,80,71,89,110,112,111.00
4,NaN,271.00,214.000000,140.0,109,94,82,70,61,76,98,98,82.00
5,NaN,261.00,223.000000,159.0,129,128,118,108,89,98,113,122,120.00
6,NaN,314.00,273.000000,207.0,168,161,138,128,115,124,147,151,146.00
7,NaN,219.00,197.000000,150.0,124,107,92,81,71,85,103,106,106.00
8,NaN,243.00,248.000000,182.0,155,144,131,122,103,107,123,124,122.00
9,NaN,204.00,189.000000,156.0,123,111,99,92,73,90,117,122,121.00
10,NaN,216.00,171.000000,145.0,126,119,107,96,79,86,102,110,108.00
11,NaN,262.00,235.000000,144.0,116,101,84,72,62,73,95,96,51.00
12,NaN,234.00,240.000000,171.0,140,132,117,111,91,101,113,119,119.00
13,NaN,211.00,194.000000,155.0,137,123,107,96,80,90,112,115,112.00
14,NaN,241.00,192.000000,148.0,126,114,100,92,80,96,120,127,123.00
15,NaN,186.00,163.000000,131.0,118,108,95,88,70,75,97,99,100.00
16,NaN,269.00,267.000000,193.0,158,154,145,132,118,125,148,159,148.00
17,NaN,216.00,184.000000,132.0,115,105,92,84,70,72,91,97,92.00
18,NaN,213.00,216.000000,157.0,142,138,123,115,92,99,113,113,109.00
19,NaN,197.00,173.000000,140.0,114,98,83,76,68,80,98,99,101.00
20,NaN,208.00,214.000000,166.0,143,130,111,98,85,91,113,117,115.00
21,NaN,234.00,198.000000,148.0,129,124,111,106,85,91,110,113,112.00
22,NaN,205.00,179.000000,144.0,123,114,100,93,75,77,95,100,98.00
23,NaN,247.00,218.000000,170.0,148,140,128,121,101,106,122,128,129.00
24,NaN,220.00,183.000000,127.0,108,98,88,82,69,75,89,94,90.00
25,NaN,231.04,174.000000,159.0,120,97,81,76,73,98,116,120,121.00
26,NaN,231.04,207.576923,156.0,125,96,76,69,70,97,110,120,111.44